<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app">
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" v-on:submit.prevent="search">
            <input placeholder="search for posters" v-model="term">
            <input type="submit" value="Search" class="btn">
        </form>
    </div>
    <div class="main">
        <div class="products">
        
        <div class="search-results" v-if="results.length && this.lastterm">Found {{results.length}} results for search term {{lastterm}}.</div>

        <div class="product" v-for="(item,index) in items" v-bind:key="item.id">
            <div>
                <div class="product-image"><img v-bind:src="item.photo"></div>
            </div>
            <div>
                <h4 class="product-title">{{ item.title }}</h4>
                <p><b>{{item.price|currency}}</b></p>
                <button v-on:click="addItem(index)" class="add-to-cart btn">Add to Cart</button>
            </div>
        </div>
        <ul>
        <!-- <li v-for="item in items">{{ item.title }}</li> -->
        </ul>

        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
            <transition-group name="fade" tag="ul">
                <!-- group of items uses transition-group, must have v-bind:key -->
                <li v-for="item in cart" class="cart-item" v-bind:key="item.id">
                    <div class="item-title">{{item.title}}</div>
                    <span class="item-qty">{{item.qty}} @ {{item.price|currency}}: {{(item.price * item.qty)|currency}}</span>
                    <button class="btn" v-on:click="inc_cart(item)">+</button>
                    <button class="btn" v-on:click="dec_cart(item)">-</button>
                </li>   
            </transition-group>
            <transition name="fade">    
                <div v-if="this.cart.length">
                    <div>Total: {{total|currency}}</div>
                </div>
            </transition>
            <div v-if="!this.cart.length" class="empty-cart">
                <div>Cart is empty?  ;(</div>
            </div>      

        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script src="/node_modules/vue/dist/vue.js"></script>
<script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
